<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>916714047472-g56ba5074hc2v4j1c86upv1s0bjtkj5p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.916714047472-g56ba5074hc2v4j1c86upv1s0bjtkj5p</string>
	<key>API_KEY</key>
	<string>AIzaSyADxYw5HCqfXH8wAdWRgG6Evuk_iB7UHq4</string>
	<key>GCM_SENDER_ID</key>
	<string>916714047472</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.twitterclone</string>
	<key>PROJECT_ID</key>
	<string>twitterclone-80c96</string>
	<key>STORAGE_BUCKET</key>
	<string>twitterclone-80c96.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:916714047472:ios:df7ca8112db66616067f35</string>
	<key>DATABASE_URL</key>
	<string>https://twitterclone-80c96.firebaseio.com</string>
</dict>
</plist>